@model Application.DataTransferObjects.StoryDto

@{
    ViewData["Title"] = "Details";
}

<div>
    <h4>Story Details</h4>
    <hr />

    <div class="row">
            <div class="col-md-12">
                <div class="thumbnail">
                    <img src="/uploads/@Html.DisplayFor(modelItem => Model.PicturePath)" alt="@Html.DisplayFor(modelItem => Model.Name)">
                    <hr />
                    <div class="caption">
                        <h3>Name: @Html.DisplayFor(modelItem => Model.Name)</h3>
                        <hr />
                        <p>Active: @Html.DisplayFor(modelItem => Model.IsActive)</p>
                        <hr />
                        <p>
                            @Html.DisplayFor(modelItem => Model.Description)
                        </p>
                        <hr />
                        <p>
                            Journalists:

                            @foreach (var journalist in Model.Journalists)
                            {
                                @journalist.FirstName <text> </text> @journalist.LastName <text> | </text>
                            }
                            @* TODO *@

                        </p>
                        <hr />

                    </div>
                </div>
            </div>
        
    </div>

</div>
<div>
    @Html.ActionLink("Edit", "Edit", new {  id = Model.Id }) |
    <a asp-action="Index">Back to List</a>
</div>
